.category-card {
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
  }
  
  /* Hover effect */
  .category-card:hover {
    transform: translateY(-5px);
  }
  
  /* Image container */
  .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Image styling */
  .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
  }
  
  /* Category name at the bottom */
  .category-name {
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .category-name h3 {
    font-size: 1.2rem;
    margin: 0;
  }

/* Light mode styles */
.category-name.light{
  background-color: #d1cdcd;
}

.category-name.light .h3{
  color: #262323;
}


/* Dark mode styles */
.category-name.dark{
  background-color: #262323;
}

.category-name.dark .h3{
  color: #f1f1f1;
}
