.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  padding-left: px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}

.search-bar {
  flex-grow: 1;
  margin: 0 1rem;
  position: relative; /* To allow positioning of the icon inside */
}

.search-bar input {
  width: 96%;
  padding: 0.5rem 2.5rem 0.5rem 0.5rem; /* Padding to make room for the icon on the right */
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* The search icon inside the input field */
.search-icon {
  position: absolute;
  right: 10px; /* Adjust to position the icon */
  top: 50%;    /* Vertically center the icon */
  transform: translateY(-50%);
  font-size: 1.2rem; /* Size of the icon */
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

/* Change color and apply button-like hover effect */
.search-bar:hover .search-icon {
  color: #000;    /* Darker color on hover */
  transform: translateY(-50%) scale(1.1); /* Slightly larger when hovered */
}


.right-side {
  display: flex;
  align-items: center;
}

.option {
  margin: 0 0.3rem;
  font-size: 1rem;
  cursor: pointer;
}

.first-btn {
  margin-left: 20px;
}

/* Button styles */
button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 0.8rem;
}

button svg {
  width: 20px;
  height: 20px;
  transition: fill 0.3s ease;
}

button span{
  font-size: 0.75rem;
  transition: color 0.3s ease;
}


/* Light mode (default) */
body {
    background-color: #fff;
    color: #333;
  }
  
  .header {
    background-color: #f8f8f8;
    color: #333;
  }
  
  .search-bar input {
    background-color: #eee;
    color: #333;
  }
  
  button svg {
    fill: #333;
  }
  
  button span {
    color: #333;
  }
  
  /* Dark mode */
  body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  body.dark-mode .header {
    background-color: #333;
    color: #fff;
  }
  
  body.dark-mode .search-bar input {
    background-color: #444;
    color: #fff;
  }
  
  body.dark-mode button svg {
    fill: #fff;
  }
  
  body.dark-mode button span {
    color: #fff;
  }
  