.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  padding-left: px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}

.search-bar {
  flex-grow: 1;
  margin: 0 1rem;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.right-side {
  display: flex;
  align-items: center;
}

.option {
  margin: 0 0.3rem;
  font-size: 1rem;
  cursor: pointer;
}

.first-btn {
  margin-left: 20px;
}

/* Button styles */
button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 0.8rem;
}

button svg {
  width: 20px;
  height: 20px;
  transition: fill 0.3s ease;
}

button span{
  font-size: 0.75rem;
  transition: color 0.3s ease;
}


/* Light mode (default) */
body {
    background-color: #fff;
    color: #333;
  }
  
  .header {
    background-color: #f8f8f8;
    color: #333;
  }
  
  .search-bar input {
    background-color: #eee;
    color: #333;
  }
  
  button svg {
    fill: #333;
  }
  
  button span {
    color: #333;
  }
  
  /* Dark mode */
  body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  body.dark-mode .header {
    background-color: #333;
    color: #fff;
  }
  
  body.dark-mode .search-bar input {
    background-color: #444;
    color: #fff;
  }
  
  body.dark-mode button svg {
    fill: #fff;
  }
  
  body.dark-mode button span {
    color: #fff;
  }
  