.item-card {
  display: flex;
  position: relative;
  background-color: #d3d3d3;
  border-radius: 5px;
  width: 70%;
  height: 200px;
  transition: background-color 0.3s ease, color 0.3s ease; 
  border: 1px solid white;
}

.image-section {
  flex: 0 0 200px;
  width: 40%; /* The left part containing the image */
  height: 100%;
  overflow: hidden;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: white;
}

.details-section {
  flex: 1;
  position: relative;
  padding: 20px;
  width: 60%; /* The right part containing the details */
  height: 100%;
  cursor: pointer;
}

.item-name {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 18px;
}

.item-popularity {
  position: absolute;
  top: 45px;
  left: 20px;
  font-size: 1.0rem;
  color: gold;
}

.item-description {
  position: absolute;
  top: 90px;
  left: 20px;
  font-size: 14px;
  text-align: left;
  width: 70%;
  height: 45px;
}

.item-price {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 16px;
  font-weight: 700;
}

.quick-add-btn, .delete-btn {
  position: absolute;
  top: 150px;
  right: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 0.8rem;
  z-index: 10;
}

.quick-add-btn svg {
  width: 30px;
  height: 30px;
  transition: fill 0.3s ease;
  z-index:10;
}

.delete-btn svg {
  width: 30px;
  height: 30px;
  transition: fill 0.3s ease;
}

.quick-add-btn, .delete-btn svg:hover{
  opacity: 0.85;
}

/* Light mode styles */
.item-card.light {
  background-color: #d1cdcd;
  color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.item-card.light .quick-add-btn svg {
  fill: #000; /* Ensure the SVG fill color is set */
}

.item-card.light .delete-btn svg {
  fill: #ff0000; /* Ensure the SVG fill color is set */
}

/* Dark mode styles */
.item-card.dark {
  background-color: #3c3b3b;
  color: #f9f9f9;
}

.item-card.dark .quick-add-btn svg {
  fill: #f9f9f9; /* Ensure the SVG fill color is set */
}

.item-card.dark .delete-btn svg {
  fill: #ff0000; /* Ensure the SVG fill color is set */
}


/* Custom styles for carousel dots */
.react-multi-carousel-dot button {
  width: 6px; /* Smaller dot size */
  height: 6px;
  background: rgba(0, 0, 0, 0.6); /* Dot color */
}

.react-multi-carousel-dot--active button {
  background: #fff; /* Active dot color */
}